<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.lottery.infrastructure.dao.IUserStrategyExportDao">

    <insert id="insert">
        INSERT INTO user_strategy_export
        (u_id, activity_id, order_id, strategy_id, strategy_mode, grant_type, grant_date, grant_state,
         award_id, award_type, award_name, award_content, uuid, create_time, update_time)
        VALUES (#{uId}, #{activityId}, #{orderId}, #{strategyId}, #{strategyMode}, #{grantType}, #{grantDate},
                #{grantState}, #{awardId}, #{awardType}, #{awardName}, #{awardContent}, #{uuid}, #{createTime},
                #{updateTime})
    </insert>
    <select id="queryUserStrategyExportByUId"
            resultType="com.moon.lottery.infrastructure.po.UserStrategyExport">
        SELECT id, u_id, activity_id, order_id, strategy_id, strategy_mode, grant_type, grant_date, grant_state,
               award_id, award_type, award_name, award_content, uuid, create_time, update_time
        FROM user_strategy_export
        WHERE u_id = #{uId};
    </select>
</mapper>